<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>255484573457-2bjbtie3fu5e1f56t2p7ef17trjuaq1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255484573457-2bjbtie3fu5e1f56t2p7ef17trjuaq1b</string>
	<key>API_KEY</key>
	<string>AIzaSyCpWlhCl6nkws5vDUfiaJXvhZDMW9f-D6s</string>
	<key>GCM_SENDER_ID</key>
	<string>255484573457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.commontime.planconnect</string>
	<key>PROJECT_ID</key>
	<string>commontime-presales</string>
	<key>STORAGE_BUCKET</key>
	<string>commontime-presales.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255484573457:ios:c14650c34002399c</string>
	<key>DATABASE_URL</key>
	<string>https://commontime-presales.firebaseio.com</string>
</dict>
</plist>